{% extends "base.html" %}

{% block title %}
<title>About</title>
{% endblock title %}

{% block navbar %}

{% endblock %}

{% block content %}

<h1><center>About<center></h1>
<p>MyStupidDreams is a web portal that allows users to post their dreams and share them with their friends.</p>
<h2>WHY?</h2>
    <p>I think dreams define who we are. Dreams are not just something to be laughed at or put aside. Our deepest dreams show us who we truly are,
        they show us what we really want in life. I believe fulfilling our deepest dreams is why we are born to this world; fulfilling our dreams
        is our mission in this world. Everyone has different kind of dreams, everyone is needed. Everyone is a part of a larger puzzle.
    </p>
{% endblock %}
