{% extends "base.html" %}

{% block title %}
<title>My Dreams</title>
{% endblock title %}

{% block navbar %}

{% endblock %}

{% block content %}

<h1><center>My Dreams<center></h1>
    {% for dream in dreams %}
<a id="{{ dream.id }}"></a>
<div class="well well-sm">
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">{{ dream.title }} - {{ dream.flock }}</h4>
    <p>{{ dream.content }}</p>
    <p>Dreamt by {{ dream.user.getusername }}</p>
  </div>
</div>
</div>
  {% endfor %}

{% endblock %}