{% extends "base.html" %}

{% block title %}
<title>My Dreams</title>
{% endblock title %}

{% block navbar %}

{% endblock %}

{% block content %}

<h1><center>My Dreams Page here<center></h1>

<table style="width:50%" style="height:100%" border=1 frame=void rules=rows align="center">
    <tr>
    	<th height="50">userName</th>
    	<th height="50">Title</th>
    	<th height="50">Content</th>
    	<th height="50">Flock</th>
    </tr>
    {% for dream in dreams %}
    <tr>
    	<th height="25">{{ dream.user.getusername }}</th>
    	<th height="25">{{ dream.title }}</th>
    	<th height="25">{{ dream.content }}</th>
    	<th height="25">{{ dream.flock }}</th>
    </tr>
  {% endfor %}
</table>

{% endblock %}