{% extends "base.html" %}

{% block title %}
<title>My Flock</title>
{% endblock title %}

{% block navbar %}

{% endblock %}

{% block content %}

<center>
<h1>List of Flocks</h1>
<p>This page lists dreams by category.</p>
</center>
<ul class="list-group">
    {% if dreams %}
        {% for dream in dreams %}
      <li role="presentation"><a href="#">
          {{ dream.flock }} <span class="badge">1</span></a>
      </li>
        {% endfor %}
    {% else %}
        <strong>No flocks exist!</strong>
    {% endif %}
</ul>


{% endblock %}