{% extends "base.html" %}

{% block title %}
<title>My Flock</title>
{% endblock title %}

{% block navbar %}

{% endblock %}

{% block content %}

<center>
<h1>List of Flocks</h1>
<p>This page lists dreams by category.</p>
</center>
<ul class="list-group">
    {% if flocks %}
        {% for flock in flocks %}
      <li role="presentation">
          {{ flock.flock }}
          <span class="badge">{{ forloop.counter }}</span></a>
            <ul class="list-group">
                {% for dream in dreams %}
                    {% if dream.flock == flock.flock %}
                    <li role="presentation">
                              "{{ dream.title }}" - <a href="/dreamuser/{{ dream.user.getusername }}/">{{ dream.user.getusername }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
      </li>
        {% endfor %}
    {% else %}
        <strong>No flocks exist!</strong>
    {% endif %}
</ul>


{% endblock %}